<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Game_title</display-name>
    <servlet-name>Game_title</servlet-name>
    <servlet-class>controller.Game_title</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Game_title</servlet-name>
    <url-pattern>/Game_title</url-pattern>
  </servlet-mapping>
  <display-name>janken_game</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>janken_result</display-name>
    <servlet-name>janken_result</servlet-name>
    <servlet-class>controller.janken_result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>janken_result</servlet-name>
    <url-pattern>/janken_result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Janken_result</display-name>
    <servlet-name>Janken_result</servlet-name>
    <servlet-class>controller.Janken_result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Janken_result</servlet-name>
    <url-pattern>/Janken_result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Three</display-name>
    <servlet-name>Three</servlet-name>
    <servlet-class>controller.Three</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Three</servlet-name>
    <url-pattern>/Three</url-pattern>
  </servlet-mapping>
</web-app>